torch==2.1.2
torchvision==0.16.2
numpy>=1.24.0
tqdm>=4.66.1
tensorboard>=2.14.0
ml-collections>=0.1.1
scipy>=1.10.0
matplotlib>=3.8.0
pandas>=2.1.0
Pillow>=10.0.0
opencv-python>=4.8.0.76
fiftyone>=0.23.4
